* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=========== Nav ===========*/
nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #282c34; 
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 5%;
  text-align: right;
  color: white; 
}

nav ul {
  list-style-type: none; 
  padding: 0;
}

nav ul li {
  display: inline; 
  margin: 0 1%; 
}

nav ul li a {
  color: white; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado */
  font-size: 18px; /* Tamaño de la fuente */
  font-weight: bold;
  transition: color 0.3s ease; /* Transición para efectos de hover */
}

/* Efecto hover para los links */
nav ul li a:hover {
  color: #f39c12; /* Color dorado al pasar el mouse */
}

/*======================= Page Content =======================*/
.page-content{
  padding-top: 10vh;
}

/* Estilo para el contenedor de la lista de Digimons */
.digimons-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columnas por fila */
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin: 20px;
}

/* Estilo para cada tarjeta de Digimon */
.digimon-card {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.digimon-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes dentro de las tarjetas */
.digimon-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

/* Estilo para el título de cada Digimon */
.digimon-title {
  font-size: 1.2rem;
  color: #333;
  padding: 10px;
  background-color: #f9f9f9;
  font-weight: bold;
}

/* Estilo para el mensaje de "Cargando..." */
.loading {
  font-size: 1.5rem;
  color: #007bff;
  margin-top: 20px;
}

/* Estilo para cuando no hay resultados */
.no-results {
  font-size: 1.5rem;
  color: #e74c3c;
  margin-top: 20px;
}

/* Responsividad */
@media (max-width: 1200px) {
  .digimons-container {
      grid-template-columns: repeat(6, 1fr); /* 6 columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  .digimons-container {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas pequeñas */
  }

  .digimon-card {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .digimons-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas muy pequeñas */
  }
}
