@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Mulish&family=Noto+Sans:wght@300;400&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Poppins:wght@100;200;300;800&family=Raleway&family=Roboto+Condensed&family=Roboto+Slab:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=========== Header ===========*/
header{
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 2vh 4%;
  background-color: #282c34; 
  align-items: center;
}
#digimon-logo{
  width: 20%;
}
#digimon-logo img{
  width: 30%;
}
nav {
  width: 80%;
  text-align: right;
}

nav ul li {
  font-family: 'Doto';
  display: inline; 
  margin: 0 1%; 
}

nav ul li a {
  color: white; 
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s ease; 
}

nav ul li a:hover {
  color: #f39c12; 
}

/*======================= Page Content =======================*/
.page-content{
  padding-top: 14vh;
}

/* Estilo para el contenedor de la lista de Digimons */
.digimons-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columnas por fila */
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin: 20px;
}

/* Estilo para cada tarjeta de Digimon */
.digimon-card {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.digimon-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes dentro de las tarjetas */
.digimon-card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

/* Estilo para el título de cada Digimon */
.digimon-title {
  font-size: 1.2rem;
  color: #333;
  padding: 10px;
  background-color: #f9f9f9;
  font-weight: bold;
}

/* Estilo para el mensaje de "Cargando..." */
.loading {
  font-size: 1.5rem;
  color: #007bff;
  margin-top: 20px;
}

/* Estilo para cuando no hay resultados */
.no-results {
  font-size: 1.5rem;
  color: #e74c3c;
  margin-top: 20px;
}

/* Responsividad */
@media (max-width: 1200px) {
  .digimons-container {
      grid-template-columns: repeat(6, 1fr); /* 6 columnas en pantallas medianas */
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  .digimons-container {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas pequeñas */
  }

  .digimon-card {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .digimons-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas muy pequeñas */
  }
}
