.page-content{
    background-color: #0a1428;
    color: white;
}
#digimon-detail{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.digimon-detail-image{
    width: 25%;
    margin-right: 5%;
}
.digimon-detail-image img{
    width: 100%;
    border: 5px solid #c8aa6e; 
    border-radius: 10px !important;
}
.digimon-detail-info{
    width: 70%;
    align-content: center;
}
h3{
    font-size: 2.8em;
    color: #c8aa6e;
    font-style: italic;
}
#description{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.detail-square{
    border: 2px solid #c8aa6e; 
    padding: 8px;
    width: 15%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#attri{
    display: flex;
}
.title{
    color: #c8aa6e;
    font-weight: 600;
}
.digimon-detail-fields{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#field{
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    font-style: italic;
    width: 100%;
}
.field-items{
    width: 100%;
}
#field-group{
    display: flex;
}